[package]
name = "clockwork"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
chess_core = { path = "../chess-core" }
uci = { path = "../uci" }