[package]
name = "chess-core"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
lazy_static = "1.5.0"
thiserror = "2.0.17"
